<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Создать товар</title>
</head>
<body>
<a href="/products">К списку товаров</a>
<h1>Создать товар</h1>

<form method="post" th:action="@{/products}" th:object="${product}" enctype="multipart/form-data">
  <label>
    Название:<br>
    <input type="text" th:field="*{title}" required>
  </label><br>

  <label>
    Описание:<br>
    <textarea th:field="*{description}" required></textarea>
  </label><br>

  <label>
    Фото:<br>
    <input type="file" name="image">
  </label><br>

  <button type="submit">Создать</button>
</form>
</body>
</html>
